body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #333333;
    color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center
}

footer {
    text-align: center
}

#root {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

H1 {
    font-family: 'Arimo', sans-serif;
}

.theList {
    list-style: none;
    padding-left: 0;
    width: 400px;
}

.theList li {
    background-color: #434343;
    margin-bottom: 2px;
}

.title {
    padding: 10px;
    display: inline-block;
}

.theList li .delete {
    padding: 10px;
    float: right;
}

.theList li .delete:hover {
    color: #D91E18;
    cursor: pointer;
}

.taskForm input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 326px;
    height: 18px;
 }

.taskForm button {
    padding: 10px;
    font-size: 17px;
    margin: 8px;
    margin-right: 0px;
    background-color: rgb(216, 216, 216);
    border: none;
    color: #000000;
    width: 42px;
    height: 42px;
}
.taskForm button:hover {
    background-color: #2ECC71;
    cursor: pointer;
}