export ARM_CLIENT_ID="{appId}"
export ARM_CLIENT_SECRET="{password}"
export ARM_SUBSCRIPTION_ID="{subscriptionId}"
export ARM_TENANT_ID="{tenant}"
export LOCATION="australiaeast"
export RESOURCE_GROUP="admin-rg"
export TERRAFORM_SA="tfstch"
export TERRAFORM_CONTAINER="apps"
export TERRAFORM_KEY="chapp.tfstate"
export ENVIRONMENT="CI"